p.directions {
  margin-top: 20px;
  font-style: italic;
}
@media screen and (max-width: 700px) {
  body {
    background-color: gold;
    color: purple;
  }
}
.well {
  display: none;
  margin: 10px;
}
.theResult {
  margin-top: 10px;
  display: none;
  color: gray;
}
